@import"layout/nav.scss"; 
@import"layout/banner.scss"; 
@import"layout/section1.scss"; 
@import"layout/section2.scss"; 
@import"layout/section5.scss"; 
@import"layout/footer.scss"; 

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 32px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


.detal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px 100px;
}