@import"layout/nav.scss"; 
@import"layout/banner.scss"; 

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 32px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
